---

---
<script>
	import '../styles/global.css';
</script>
<style>
	.card-container {
		padding: 1rem;
		margin: 0;
		text-align: center;

		@media (min-width:768px) {
			padding: 2rem;
			margin: 1rem;
		}
	}

	.card-h1 {
		font-size: 3rem;
		line-height: 1;
		text-shadow: 1px 1px rgba(0,0,0,0.1);
		text-wrap: balance;
		margin: 0;
		padding-bottom: 1rem;
	}

	.card-paragraph {
		font-size: 1rem;
		padding: 0.5rem 0 1rem;
		margin: 0;
		text-wrap: balance;
	}

	.social-media-container {

	}

	@media (width <= 768px) {
		.card-title {
			font-size: 2rem;
		}
	}

</style>

<article class="card-container">
	<h1 class="card-h1 roboto-bold">
		Unlock the Power of Energy & Spirituality
	</h1>
	<p class="card-paragraph roboto-regular">
		Join the Obsidiana community and elevate your spiritual journey with our exclusive chakra bracelets, mantra soaps, and healing stones. Sign up now to stay in the loop for future events, special offers, and new arrivals that align with your inner peace.
	</p>
	<slot />

	<!-- <div class="social-media-container">
		<h2 class="roboto-regular-italic">Follow us</h2>
		<ul>
			<li>
				<a href="#">
					<img src="../assets/icons/tiktok.svg" alt="Tiktok Link">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../assets/icons/youtube.svg" alt="Youtube Link">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../assets/icons/instagram.svg" alt="Instagram Link">
				</a>
			</li>
		</ul>
	</div> -->
</article>



