---

---
<script>
	import '../styles/global.css';
</script>
<style>
	.card-container {
		padding: 1rem;
		margin: 0;
		text-align: center;

		@media (min-width:768px) {
			padding: 2rem;
			margin: 1rem;
		}
	}

	.card-h1 {
		font-size: 3rem;
		line-height: 1;
		text-shadow: 1px 1px rgba(0,0,0,0.1);
		text-wrap: balance;
		margin: 0;
		padding-bottom: 1rem;
	}

	.card-paragraph {
		font-size: 1rem;
		padding: 0.5rem 0 1rem;
		margin: 0;
		text-wrap: balance;
	}

	@media (width <= 768px) {
		.card-title {
			font-size: 2rem;
		}
	}

</style>

<article class="card-container">
	<h1 class="card-h1 roboto-bold">
		Get notified when we’re launching.
	</h1>
	<p class="card-paragraph roboto-regular">
		Al ingresar tu correo electrónico, no solo estarás un paso más cerca de experimentar la energía positiva que nuestras manillas y jabones pueden ofrecerte, sino que también recibirás información privilegiada sobre eventos futuros, ofertas especiales y novedades en productos que resonarán con tu espíritu. ¡Conéctate con nosotros y comienza tu viaje hacia la armonía y el equilibrio hoy mismo!
	</p>
	<slot />
</article>



